@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("./fonts/DungGeunMo.woff2") format("woff2"),
    url("./fonts/DungGeunMo.woff") format("woff"),
    url("./fonts/DungGeunMo.ttf") format("ttf");
  font-wieght: normal;
  font-style: normal;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

input {
  caret-color: transparent;
}

input::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1.2em;
  background-color: white;
  animation: blink 1s infinite;
}

body {
  font-family: "DungGeunMo", sans-serif;
}
