@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DungGeunMo";
  src: url("./fonts/DungGeunMo.woff2") format("woff2"),
    url("./fonts/DungGeunMo.woff") format("woff"),
    url("./fonts/DungGeunMo.ttf") format("ttf");
  font-wieght: normal;
  font-style: normal;
}
